*::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: $main-color;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

html {
    color: $light-font-color;
    font-family: $main-font-family;

    // Firefox scrollbar styles
    scrollbar-width: thin;
    scrollbar-color: $main-color transparent;
}

body {
    background-color: $background-color;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100vw - 30px);
    max-width: 1300px;
    min-height: 100vh;
    padding: calc(var(--header-height) + 15px) 0 15px;
    margin: 0 auto;

    &--row {
        flex-direction: row;
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.aside {
    flex-shrink: 0;
    flex-basis: 340px;
}

.section {
    margin-bottom: 15px;
    background-color: #313131;
    
    color: $light-font-color;

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    &--title {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
    }

    &__title {
        padding: 10px 10px 10px 15px;
        font-size: 18px;
        color: $light-font-color;
        background-color: $main-color2;
    }

    &__content {
        padding: 15px;
        white-space: pre-wrap;

        &--no-padding {
            padding: 0;
        }

        &--flex {
            display: flex;
        }
    
        &--center {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-icon {
            font-size: 40px;
            color: $font-color;
        }

        &-text {
            color: $font-color;
        }
    }
}

.btn {
    min-width: 80px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background-color: $main-color;
    font-family: $main-font-family;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #8ea0d6;
    }

    &:disabled {
        color: #8795bd;
        cursor: default;

        &:hover {
            background-color: $main-color;
        }
    }
}

.title {
    font-size: 26px;
}

.link {
    color: $main-color;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;

    &-block {
        display: block;
    }

    &:hover {
        text-decoration: underline;
    }
}

.paragraph {
    color: $light-font-color;

    &--indent {
        text-indent: 25px;
    }

    &--end {
        margin-bottom: 15px;
    }
}

.strong {
    font-weight: bold;
}

.img {
    user-select: none;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;

    &--radius {
        border-radius: 10px;
    }

    &--fit {
        height: 100%;
    }
}