.form {
    &__inp {
        font-family: $main-font-family;
        width: 100%;
        max-width: 220px;
        padding: 6px 10px;
        border: none;
        outline: none;
        color: $main-color;
        background-color: $background-color;

        &-password {
            padding-right: 32px;
        }
    }

    &__password {
        position: relative;
        width: 100%;
        max-width: 220px;

        &-icon {
            position: absolute;
            color: $main-color;
            right: 5px;
            top: 50%;
            translate: 0 -50%;
            font-size: 22px;
            cursor: pointer;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 200;
    }
    
    &__checkbox {
        flex-shrink: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        color: $main-color;
        cursor: pointer;

        &-box {
            font-size: 20px;
        }

        &-mark {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-45%, -60%);
            font-size: 24px;
        }
    }
}