.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(var(--header-height) + 15px);

    &__wrapper {
        width: calc(100vw - 30px);
        max-width: 400px;
        // margin-top: calc(var(--header-height) * -2);
    }
    
    &__form {
        display: flex;
        flex-flow: column wrap;
        gap: 15px;
        align-items: center;
        padding: 15px;
        background-color: black;
        color: $main-color;

        @media (min-width: 430px) {
            border-top-left-radius: 20px;
        }
    }

    &__label {
        padding: 0 10px;
        font-size: 14px;
    }

    &__keyboard {
        display: flex;
        max-width: 384;
        height: 46px;
        padding: 0 12px 0 9px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: black;
        overflow: hidden;

        &-container {
            display: flex;
            width: 100%;
            overflow: hidden;
        }
        
        &-part {
            flex-shrink: 0;
            position: relative;
            display: flex;
            width: 128px;

            &--btn {
                font-family: $main-font-family;
                font-size: 18px;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover > div {
                    padding-bottom: 2px;
                }
            }

            & > div {
                transition: padding 0.1s;
                &:hover {
                    background-color: $main-color;
                }
            }

            & > .wk {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                flex-basis: calc(128px / 7);
                flex-shrink: 0;
                height: 100%;
                border-right: 2px solid black;
                background-color: white;
            }

            & > .bk {
                position: absolute;
                width: 14px;
                height: 24px;
                border: 2px solid black;
                border-top: none;
                background-color: black;
            }
        }
    }

    &__soundbox {
        display: flex;
        width: 100%;
        color: $main-color;
        height: 220px;

        & > div {
            &:nth-child(1) {
                display: none;
                flex-grow: 1;
                background-color: black;

                @media (min-width: 430px) {
                    display: block;
                }

                & > div {
                    width: 100%;
                    height: 100%;
                    border-bottom-right-radius: 90px;
                    background-color: $background-color;
                }
            }
            &:nth-child(2) {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 15px;
                border-top-left-radius: 220px;
                border-top-right-radius: 220px;
                background-color: black;

                @media (min-width: 430px) {
                    width: 260px;
                    flex-grow: 0;
                }
            }
        }
    }

    &__logo {
        font-size: 56px;

        &-title {
            font-size: 20px;
            font-weight: 200;
            letter-spacing: 4px;
            text-align: center;
        }
    }

    &__paragraph {
        margin-top: 30px;
        color: $light-font-color;
    }
}

.bk {
    &:nth-last-of-type(1) {
        left: 9px;
    }
    &:nth-last-of-type(2) {
        left: 28px;
    }
    &:nth-last-of-type(3) {
        left: 64px;
    }
    &:nth-last-of-type(4) {
        left: 83px;
    }
    &:nth-last-of-type(5) {
        left: 102px;
    }
}